<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Training_CustomerTracker::menu"
             title="Customer Tracker"
             module="Training_CustomerTracker"
             sortOrder="65"
             action="adminhtml/system_config/edit/section/customertracker"
             resource="Training_CustomerTracker::config"/>
    </menu>
</config>
