<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <!-- Permission for Configuration -->
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Training_CustomerTracker::config" 
                                      title="Customer Tracker Configuration"/>
                        </resource>
                    </resource>
                </resource>
                
                <!-- Permission for Menu -->
                <resource id="Training_CustomerTracker::menu" 
                          title="Customer Tracker Menu" 
                          sortOrder="65"/>
            </resource>
        </resources>
    </acl>
</config>
