<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Menu/etc/menu.xsd">
    <menu>
        <add id="RCLTask_Custom::custom"
             title="Custom Page"
             module="RCLTask_Custom"
             sortOrder="100"
             parent="Magento_Backend::content"
             action="custom/index/index"
             resource="RCLTask_Custom::custom"/>
    </menu>
</config>